In [3]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

##### 1. Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [6]:
import pandas as pd
sozluk = pd.DataFrame(sozluk)
sozluk

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

##### 2. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi) 
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [16]:
sozluk["Kategori"][2]

'Ayakkabı'

In [17]:
sozluk["Ürün"][2]

'Sandalet'

In [18]:
sozluk[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [21]:
sozluk[["Ürün"]][1:6]

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon

##### 3. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [23]:

sozluk

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [43]:
sozluk[sozluk["Kategori"] == "Giyim"][["Ürün"]]

       Ürün
0     Kazak
1   T-shirt
5  Pantolon
9     Ceket

In [44]:
sozluk[sozluk["Kategori"] == "Ayakkabı"][["Ürün"]]

            Ürün
2       Sandalet
4  Spor Ayakkabı
8          Çizme

In [45]:
sozluk[sozluk["Kategori"] == "Aksesuar"][["Ürün"]]

    Ürün
3   Küpe
6  Kolye
7  Yüzük

##### 4 Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [46]:
sozluk[sozluk["Fiyat"] > 300][["Ürün"]]

            Ürün
2       Sandalet
4  Spor Ayakkabı
5       Pantolon
8          Çizme
9          Ceket

In [50]:
sozluk[(sozluk["Kategori"] == "Giyim") & (sozluk["Fiyat"] > 300)][["Ürün"]]

       Ürün
5  Pantolon
9     Ceket

In [51]:
sozluk[(sozluk["Kategori"] == "Ayakkabı") & (sozluk["Fiyat"] < 600)][["Ürün"]]

       Ürün
2  Sandalet

In [52]:
sozluk[(sozluk["Kategori"] == "Aksesuar") & (sozluk["Fiyat"] > 100)][["Ürün"]]

    Ürün
6  Kolye